header{
    background-color: black;
    color: orange;
}

body{
    background-color: aquamarine;
    color:black;
}

h1{
    color:black;
}

p{
    color: black;
}

ul {
    color: orange;
}

footer{
    background-color: black;
    color: white;
}